/* html {
  font: 14px "Shippori Antique", sans-serif;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  font: 20px "Shippori Antique B1", sans-serif;
  font-weight: 400;
} */

html {
  font: 14px "Noto Sans", sans-serif;
  font-weight: 400;
  background-color: black;
  color: aliceblue;
  border-radius: 12px;
}

.logo {
  display: flex;
  align-items: center;
  font: 20px "Noto Sans", sans-serif;
  font-weight: 500;
}

.logo-img {
  height: 92.02px;
  width: 91.5px;
}
