.logo-link {
  text-decoration: none;
}

.logo-link:visited {
  text-decoration: none;
  color: unset;
}

.logo {
  display: flex;
  align-items: center;
  /* font: 20px "Shippori Antique B1", sans-serif; */
  /* font-weight: 400; */
  font: 1.5em "Noto Sans", sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  height: 6vh;
}

.logo-colored-text {
  color: #8378ffe2;
}

.logo-img {
  height: 45px;
  width: 45px;
}

@media (max-width: 500px) {
  .logo-colored-text,
  .logo-text {
    display: none;
  }

  .logo-img {
    height: 32px;
    width: 32px;
  }
}

@media (max-width: 900px) {
  .logo-colored-text,
  .logo-text {
    display: none;
  }
}
