/* TODO: create and use navbar element for mobile devices */
.sidebar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  height: calc(100% - 5.7vh);
  margin-top: 2em;
  width: 100%;
}

.sidebar a {
  text-decoration: none;
  /* TODO: create global colours for reuse */
  /* color: rgba(134, 134, 134, 88); */
  color: #f6f7fdde;
}

.sidebar-group {
  color: rgba(246, 247, 253, 0.4);
  /* font: 14px "Shippori Antique", sans-serif;
      font-weight: 400; */
  font: 1.05em "Sintony", sans-serif;
  font-weight: 700;
}

.sidebar-category-gap {
  width: 100%;
  /* bg color, height and border ensure that the line break is filled with given colour */
  background-color: rgba(103, 98, 98, 59);
  height: 1px;
  border: 0;
}

.sidebar-categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.9em;
  font-weight: 500;
}

.sidebar-category {
  display: flex;
  align-items: center;
  gap: 1em;
  border-radius: 4px;
}

.sidebar-category:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.highlight {
  color: #8378ffe2;
}

.sidebar-category-img {
  padding-left: 0.75em;
  width: 28px;
  height: 28px;
}

.sidebar-group-gap {
  width: inherit;
  height: 0.5em;
  border: 0;
}
