footer {
  margin-top: 2vh;
  grid-column: 1 / 3;
  grid-row: 3 / 3;
  width: 100%;
}

.footer-section {
  width: 100%;
  /* bg color, height and border ensure that the line break is filled with given colour */
  background-color: rgba(134, 134, 134, 88);
  height: 1px;
  border: 0;
}

.footer-content {
  padding: 3px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  font: 0.95em "Noto Sans", sans-serif;
}

@media (max-width: 500px) {
  footer {
    margin-top: 0;
  }
  .footer-content {
    padding: 3px 24px;
    column-gap: 1.75vw;
    font-size: 0.7em;
    margin: 1px;
  }
}

/* * matches the svg icon colour */
.footer-declaration {
  color: rgba(134, 134, 134, 88);
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icon {
  width: 23.143px;
  height: 22.645px;
}
