.footer-section {
  width: 100%;
  position: fixed;
  top: 95%;
  /* left: 50%;
    transform: translateX(-50%); */
  left: 0;
  right: 0;
  margin: auto; /* Auto margin centers the element */
  /* bg color, height and border ensure that the line break is filled with given colour */
  background-color: rgba(134, 134, 134, 88);
  height: 1px;
  border: 0;
}

footer {
  width: 100%;
  padding: 3px 24px;
  bottom: 0;
  height: 4%;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  font: 0.95em "Noto Sans", sans-serif;
}

@media (max-width: 500px) {
  footer {
    height: 5%;
    column-gap: 1.75vw;
    font-size: 0.75em;
  }
}

/* * matches the svg icon colour */
.footer-declaration {
  color: rgba(134, 134, 134, 88);
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icon {
  width: 23.143px;
  height: 22.645px;
}
